2025/Day_1/P1/in.txt
2025/Day_1/P1/in2.txt
2025/Day_1/P1/input.txt
2025/Day_1/P1/instructions.txt
2025/Day_1/P1/out.txt
2025/Day_1/P2/in.txt
2025/Day_1/P2/input.txt
2025/Day_1/P2/instructions.txt
2025/Day_1/P2/out.txt
2024/Day_1/in.txt
2024/Day_1/input.txt
2024/Day_1/instructions.txt
2025/Day_2/in.txt
2025/Day_2/input.txt
2025/Day_2/instructions.txt
2025/Day_3/in.txt
2025/Day_3/input.txt
2025/Day_3/instructions.txt
2025/Day_4/in.txt
2025/Day_4/input.txt
2025/Day_4/instructions.txt
2025/Day_3/in2.txt
2025/Day_5/in.txt
2025/Day_5/input.txt
2025/Day_5/instructions.txt
2025/Day_5/in2.txt
2025/Day_5/input2.txt
2025/Day_6/in.txt
2025/Day_6/input.txt
2025/Day_7/instructions.txt
2025/Day_7/input.txt
2025/Day_7/in.txt
2025/Day_6/instructions.txt
